$background: lightgrey;
$footandhead: lightskyblue;
html {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App {
  font-family: sans-serif;
  text-align: center;
  flex: 1;
  background: $background;
}